.form-container{
    width: 425px;
    display: flex;
    flex-flow: column;
    
}
.form-container-item{
    width: 100%;
    background: #fff;
    border: 3px solid #a0abb3;
    border-radius: 3px;
    padding: 16px 20px 20px 20px;
}
.form-container-item-label{
    color: #a0abb3;
    font-size: 14px;
    font-family: 'Open Sans Condensed', arial, sans-serif;
    font-weight: bold;
}

.input-field{
    width: 100%;
    padding: 0 0;
    font-size: 52px;
    font-family: 'Open Sans Condensed', arial, sans-serif;
    font-weight: bold;
    color: #282b2d;
    border: 0;
    outline: none;
    position: relative;
    margin-top: -14px;
    background: transparent;
}
.textarea-field-wrapper{
    background-color: #fff;
    
    border: 1px solid #eee;
}
.textarea-field{
    width: 100%;
    padding: 0 0;
    font-size: 52px;
    font-family: 'Open Sans Condensed', arial, sans-serif;
    font-weight: bold;
    color: var(--second-text-color);
    border: 0;
    height: 260px;
    outline: none;
    position: relative;
    margin-top: -14px;
    background: transparent;
}

.form-container-item__last{
    margin-top: 6rem;
}
.input-error{
    border: 3px solid var( --errors-msg-color);
}

.message-error{
    font-size: 1.2rem;
    color: var(--errors-msg-color);
}