.answer-page{
    width: 100%;
}
.answer-page-item{
    width: 80%;
    margin: 15px auto 0 1rem;

}
.back-container{
    width: 80%;
    margin: 15px auto 0 1rem;
    display: flex;
    align-items: center;
}

.back-container-btn{
    width: 164px;
    height: 64px;
    line-height: 64px;
}
.back-container-text{
    margin: 0 auto 0 15px;
}