
:root{
  --primary-color: #31a8dc;
  --primary-bg-color: #fff;
  --errors-msg-color:  rgb(204, 28, 28);
   --second-text-color:#282b2d;
}
*{
  box-sizing: border-box;
}
 


body {
  background-color: #c0c0c0
}

.top-news{
  width: 425px;
  margin: 0 15px 0 0;
}